* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: pink;
}

.Wrapper {
  .tit {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: beige;
  }
  .input_f {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    #todo_input {
      width: 300px;
      height: 40px;
      outline: none;
    }
    #add_btn {
      width: 40px;
      height: 40px;
      border: none;
      background-color: pink;
      cursor: pointer;
      > img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .todolist {
      background-color: beige;
      width: 335px;
      margin-top: 15px;
      text-align: center;
      .delete_btn {
        border: none;
        margin-left: 10px;
        cursor: pointer;
        background-color: beige;
      }
    }
    .completed {
      text-decoration: line-through;
      color: gray;
    }
  }
}

::placeholder {
  padding: 5px;
}
